<div class="container">
    <h4 class="text-center text-bg-primary mt-3">Occurrences</h4>
    <hr />
    <hr />

    <div class="row align-items-center justify-content-center container inline-flex">
        <div class="col-1">
            <button type="button" class="datepicker-button" (click)="decreaseMonth()">
                <i class="bi bi-dash-circle btn btn-primary"></i>
            </button>
        </div>

        <div class="col-3">
            <input type="text" [(ngModel)]="selectedDate" class="form-control date-picker" name="date" bsDatepicker
                [bsConfig]="bsConfig" (onShown)="onOpenCalendar($event)" (ngModelChange)="refresh()">
        </div>

        <div class="col-1">
            <button type="button" class="datepicker-button" (click)="increaseMonth()">
                <i class="bi bi-plus-circle-fill btn btn-primary"></i>
            </button>
        </div>
    </div>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th class="col">Amount</th>
                <th class="col">Date</th>
                <th class="col">Account</th>
                <th class="col">Type</th>
                <th class="col">Category</th>
                <th class="col">Description</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let occurrence of occurrences$ | async as list">
                <td>{{ occurrence.amount }}</td>
                <td>{{ occurrence.date }}</td>
                <td>{{ occurrence.account }}</td>
                <td>{{ occurrence.type.type }}</td>
                <td>{{ occurrence.category.category }}</td>
                <td>{{ occurrence.description }} </td>
                <td>
                    <button class="btn btn-primary" (click)="onUpdate(occurrence)">
                        <i class="bi bi-arrow-repeat"></i>
                    </button>
                    <button class="btn btn-danger " (click)="onDelete(occurrence)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <span class="text-start position-relative">
        <button class="btn btn-success" (click)="onAdd()">
            <i class="bi bi-plus-circle"></i>
        </button>
    </span>
    <span class="text-end col-3">
        <button type="button" class="btn btn-outline-primary float-end" (click)="return()">Return</button>
    </span>
</div>