<div class="container">
  <h2 class="text-bg-primary text-center">NEW OCCURRENCE</h2>

  <form [formGroup]="occurrenceForm" (ngSubmit)="onSubmit()">

    <!--Amount-->
    <div>
      <label for="amount" class="form-label">Amount:</label>
      <input type="number" class="form-control" name="amount" formControlName="amount" placeholder="0.0">
    </div>
    <!--/Amount-->

    <!--Date-->
    <div>
      <label for="date" class="form-label">Date:</label>
      <input type="date" class="form-control" name="date" formControlName="date">
    </div>
    <!--/Date-->

    <!--Account-->
    <div [formGroup]="occurrenceForm">
      <div formGroupName="account">
        <label for="account" class="form-label">Account:</label>
        <select formControlName="name" class="form-select">
          <ng-container *ngFor="let account of accounts$ | async as list">
            <option *ngIf="account.status_active" [ngValue]="account.name" 
            [selected]="account.name === occurrenceForm.controls['account'].value.name">
            {{ account.name }}
          </option>
        </ng-container>
        </select>
      </div>
    </div>
    <!--/Account-->

    <!--Type-->
    <div [formGroup]="occurrenceForm" class="row">
      <label for="Type" class="form-label">Type:</label>
      <div formGroupName="type" class="col-10">
        <div>
          <select formControlName="id" class="form-select">
            <ng-container *ngFor="let type of types$ | async as list">
              <option *ngIf="type.status_active" [ngValue]="type.id"
                [selected]="type.name === occurrenceForm.controls['type'].value.name">
                {{ type.name }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <!--New type -->
      <div class="col">
        <button class="btn btn-primary" (click)="typeSettings()">
          <i class="bi bi-gear"></i>
        </button>
      </div>
      <!--/New type -->
    </div>
    <!--/Type-->

    <!--Category-->
    <div [formGroup]="occurrenceForm" class="row">
      <label for="Category" class="form-label">Category:</label>
      <div formGroupName="category" class="col-10">
        <select formControlName="id" class="form-select">
          <ng-container *ngFor="let category of categories$ | async as list">
            <option *ngIf="category.status_active" [ngValue]="category.id">
              {{ category.name }}
            </option>
          </ng-container>
        </select>
      </div>
      <!--New category -->
      <div class="col">
        <button class="btn btn-primary" (click)="categorySettings()">
          <i class="bi bi-gear"></i>
        </button>
      </div>
      <!--/New category -->
    </div>
    <!--/Category-->

    <!--Description-->
    <div>
      <label for="description" class="form-label">Description: </label>
      <textarea name="description" class="form-control" maxlength="200" formControlName="description" rows="5">
        </textarea>
    </div>
    <!--/Description-->

    <!--Submit-->
    <div class="text-end mt-3">
      <button type="submit" class="btn btn-outline-success" name="submit">
        Save
      </button>
    </div>
    <!--/Submit-->

    <!--Delete-->
    <div class="text-end mt-3">
      <button type="button" class="btn btn-danger" (click)="return()">
        Cancel
      </button>
    </div>
    <!--/Delete-->

  </form>
</div>