<div class="container">
  <h2 class="text-bg-primary text-center">NEW OCCURRENCE</h2>

  <form [formGroup]="occurrenceForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="amount" class="form-label">Amount:</label>
      <input type="number" class="form-control" name="amount" formControlName="amount" placeholder="0.0">
    </div>

    <div>
      <label for="date" class="form-label">Date:</label>
      <input type="date" class="form-control" name="date" formControlName="date">
    </div>

    <div [formGroup]="occurrenceForm">
      <div formGroupName="account">
        <label for="account" class="form-label">Account:</label>
        <select formControlName="name" class="form-select">
          <option *ngFor="let account of accounts$ | async as list" [ngValue]="account.name"
            [selected]="account.name === occurrenceForm.controls['account'].value.name">
            {{ account.name }}
          </option>
        </select>
      </div>
    </div>

    <div [formGroup]="occurrenceForm">
      <div formGroupName="type">
        <label for="Type" class="form-label">Type:</label>
        <select formControlName="type" class="form-select">
          <option *ngFor="let type of types$ | async as list" [ngValue]="type.type"
            [selected]="type.type === occurrenceForm.controls['type'].value.type">
            {{ type.type }}
          </option>
        </select>
      </div>
    </div>

    <div [formGroup]="occurrenceForm">
      <div formGroupName="category">
        <label for="Category" class="form-label">Category:</label>
        <select formControlName="category" class="form-select">
          <option *ngFor="let category of categories$ | async as list" [ngValue]="category.category"
            [selected]="category.category === occurrenceForm.controls['category'].value.category">
            {{ category.category }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <label for="description" class="form-label">Description: </label>
      <textarea name="description" class="form-control" maxlength="200" formControlName="description" rows="5">
        </textarea>
    </div>

    <div class="text-end mt-3">
      <button type="submit" class="btn btn-outline-success" name="submit">
        Save
      </button>
    </div>

    <div class="text-end mt-3">
      <button type="button" class="btn btn-danger" (click)="return()">Cancel</button>
    </div>
  </form>
</div>