<div class="container mt-3">
    <!--Income/Outcome-->
    <h1 class="text-primary text-center text-bg-dark">Financial APP</h1>
    <br />
    <div class="row">
        <div class="col-12 row-centralizar">
            <div class="text-start col-2">
                <button class="btn btn-default btn-primary" (click)="goToIncomes()">Incomes</button>
            </div>
            <div class="text-end col-2">
                <button class="btn btn-default btn-primary" (click)="goToOutcomes()">Outcomes</button>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <!--Accounts-->
    <div class="row justify-content-center">
        <div class="overflow-scroll"
            style="max-width: 350px; max-height: 250px;">
            <div class="col-auto">
                <table class="table table-responsive table-hover border ">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-light" value="account" name="account">Name</th>
                            <th class="text-light">Total Balance</th>
                            <th class="text-light"></th>
                        </tr>
                    </thead>
                    <tbody class="table-dark">
                        <ng-container *ngFor="let account of accounts$ | async as list; let i=index">
                            <tr *ngIf="account.status_active && totalBalance">
                                <td>
                                    {{ account.name }}
                                </td>
                                <td >
                                    {{ totalBalance[i] }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" (click)="onEdit(account)">
                                        <i class="bi bi-arrow-repeat"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="onAdd()">Add Account</button>
        </div>
    </div>
</div>