<div class="container">
    <h1 class="text-primary text-center text-bg-dark">Financial APP</h1>

    <div class="row">
        <div class="col-12 row-centralizar">
            <div class="text-start col-2">
                <button class="btn btn-default btn-primary" (click)="goToIncomes()">Incomes</button>
            </div>
            <div class="text-end col-2">
                <button class="btn btn-default btn-primary" (click)="goToOutcomes()">Outcomes</button>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>

<table>
    <thead>
        <th>Name: </th>
    </thead>
    <tbody>
        <ng-container *ngFor="let account of accounts$ | async as list">
            <tr *ngIf="account.status_active">
                <td>{{ account.name }}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="getAccountsTotalIncomes()">Incomes</button>
                    <button type="button" class="btn btn-primary" (click)="getAccountsTotalOutcomes()">Outcomes</button>
                    <button type="button" class="btn btn-primary" (click)="onEdit(account)">Edit</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="onAdd()">Add</button>
