<h2>New Income WORKS!</h2>

<form [formGroup]="incomeForm" (ngSubmit)="saveOcurrency()">
    <input type="number" name="amount" formControlName="amount" placeholder="0.0">
    <br>

    <input type="date" name="_date" formControlName="_date">
    <br>

    <select name="type" formControlName="type">
        <option> INCOME_L </option>
    </select>
    <br>

    <select name="category" formControlName="category">
        <option> SALARY </option>
    </select>
    <br>

    <textarea name="description"  formControlName="description" 
    placeholder="descrição" rows="5" cols="30"></textarea>
    <br>

    <button type="submit" formControlName="submit">Save</button>
    <br>
</form>