<h2>New Income WORKS!</h2>

<form [formGroup]="incomeForm" (ngSubmit)="saveOcurrency()">
    <input type="number" name="amount" formControlName="amount" placeholder="0.0">
    <br>

    <input type="date" name="date" formControlName="date">
    <br>

    <select name="type" formControlName="type">
        <option>
            Type
        </option>
    </select>
    <br>

    <div formGroupName="category">
        <select formControlName="category">
          <option *ngFor="let category of categories" [value]="category.category" [selected]="category.category === incomeForm.controls['category'].value.category">
            {{ category.category }}
          </option>
        </select>
      </div>

    <textarea name="description" formControlName="description" placeholder="descrição" rows="5" cols="30"></textarea>
    <br>

    <button type="submit" formControlName="submit">Save</button>

    <button (click)="testes()">testes</button>
    <br>
</form>