<p>incomes works!</p>

<table>
    <tr>
        <th>Incomes</th>
    </tr>
    <tr *ngFor="let income of incomes$ | async as list">
        <td>Amount: {{ income.amount }}</td>
        <td>Date: {{ income.date }}</td>
        <td>Type Name: {{ income.type.type }}</td>
        <td>Category Name: {{ income.category.category }}</td>
        <td>Description: {{ income.description }} </td>
        <td><button (click)="updateIncome(income)">Click me</button></td>
    </tr>
    <tr>
        <td><button (click)="newIncome()">+</button></td>
    </tr>
</table>

<!--if click newIncome()-->
<router-outlet></router-outlet>